/*
Project Name   : Form Register
Project Author : hamit Mızrak
Project Date   : 12/10/2023
Project Version: V1.0.0
 */


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --temlpate-bg-color:#4f90ff;
    --template-container-color:#2496ff;
    --template-differetnt-color:#65b5ff;
    --template-light-color:#6fc1ff;
    --template-button-color:#a6ff98;
    --template-color:#ffffff;

}
html{
    font-size: 18px;
}
body{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
    color: var(--template-color);
    background-color: var(--temlpate-bg-color);
}

table,th,td{
    border: 2px solid black;
}

/* container */
.container{
    position:relative;
    width: 100%;
    height: auto;
    padding: 0.9rem;

    display: flex;
    flex-direction: row;
    justify-content: center; /* X Düzleminde */
    align-items: center; /* Y Düzleminde*/
    flex-wrap: nowrap; /* responsive olsun*/
    background-color: var(--template-differetnt-color);
}
input{
    margin: 4px 4px;
    border-radius: 4px ;
    border:none;
    height: auto;
    width:auto;
    position:relative;
    padding-left: 6px;
    background: var(--template-light-color);
    display:flexbox;
}


#man,#woman,#readMe{
    cursor: pointer;
}

i{
    color:var(--template-button-color);
    margin-left:4px;
}

button{

    background-color: var(--template-button-color);
    border-radius: 999px;
    box-shadow: #6fc1ff 0 10px 20px -10px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    font-family:inherit;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    width: 49%;
    height: 15%;
}